@page
@model TasteRestaurant.Pages.Order.ManageOrderModel
@using TasteRestaurant.Utility

@{
    ViewData["Title"] = "ManageOrder";
}

<h2>Manage Order's</h2>
<form method="post">
    <br />
    @if (Model.OrderDetailsViewModel.Count > 0)
    {
        @foreach (var item in Model.OrderDetailsViewModel)
        {
            <div class="thumbnail row">
                @Html.Partial("_IndividualOrderDetails", item)
                <div class="col-sm-2">
                    @if (item.OrderHeader.Status.Equals(SD.StatusSubmitted))
                    {
                        <button type="submit" asp-page-handler="OrderPrepare" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-primary form-control">
                            <span class="glyphicon glyphicon-ok"></span> Start Cooking
                        </button>
                        <button type="submit" asp-page-handler="OrderCancel" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-danger form-control">
                            <span class="glyphicon glyphicon-remove"></span> Cancel Order
                        </button>
                    }
                    else
                    {
                        @if (item.OrderHeader.Status.Equals(SD.StatusInProcess))
                        {
                            <button type="submit" asp-page-handler="OrderReady" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-success form-control">
                                <span class="glyphicon glyphicon-cutlery"></span> Order Prepared
                            </button>
                            <button type="submit" asp-page-handler="OrderCancel" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-danger form-control">
                                <span class="glyphicon glyphicon-remove"></span> Cancel Order
                            </button>
                        }
                    }
                </div>
            </div>

        }
    }
    else
    {
        <p> No order's available...</p>
    }
</form>


